body {
  color: grey;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.contenedorPrincipal {
  display: flex;
}
#contenedorCentral {
  margin-left: 10px;
  margin-right: 80px;
}
#title {
  margin: 0px;
  font-size: 20px;
  padding-bottom: 10px;
}
#subTitle {
  margin: 0px;
  padding-bottom: 5px;
}
#contenedorBotones {
  margin: 0px;
}
button {
  border-radius: 10px;
  height: 40px;
}
#boton1 {
  background-color: white;
  border: 2px solid;
}
#boton2 {
  color: white;
  background-color: rgb(104, 101, 101);
  border: none;
}
#contenedorDerecho {
  display: flex;
  align-items: center;
}
#comentarios {
  padding-right: 20px;
}
#comentarios p {
  margin: 0px;
}
#puntuacion {
  background-color: rgb(150, 144, 144);
  color: black;
  padding: 10px;
  border-radius: 10px;
}
